html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    display: flex;
    border: solid 1px black;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    padding: 20px;
    height: auto;
}

ul {
    display: flex;
    border: solid 1px black;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    list-style-type: none;
}

h1 {
    display: flex;
    border: solid 1px black;
    padding: 10px;
}