body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;
    /* you will add addition rules for the container here  */
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 2px black;
    width: 60%;
    height: 20%;
}

.item-2, .item-4 {
    margin-left: auto;
}