@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&display=swap');

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F4F4F4;
    font-family: Arial, Helvetica, sans-serif;

}

.logo  {
    color:#000000;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;

}

.userlink {
    color: #000000;
    text-decoration: none;
    padding-right: 10px;
}

.logout {
    text-decoration: none;

}

.top-nav {
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.post {
    min-height: 300px;    
    border: solid 1px black;
    margin-bottom: 50px;
    background-color: white;
}

.stories {
    min-height: 100px;
    margin-bottom: 50px;
}

aside {
    position: fixed;
    top: 100px;
    left: 65vw;
    min-height: 80vh;
    width: calc(35vw - 30px);  /*spaces are needed*/
    padding: 20px;
}

main {
    margin-top: 23px;
    width: calc(60vw - 30px); /*spaces are needed*/
    margin-left: 5vw;
}

h1, h2 {
    font-family: "Comfortaa", sans-serif;
}

.profile {
    display: flex;
    gap: 15px;
    align-items: center;
}

.profile img{
    border-radius: 50%;

}

.suggested {
    display: grid;
    align-items: center;
    grid-template-columns: 40px auto 50px;
}

.suggested p {
  color: grey;
}

h4, p {
    margin: 10px;
}

.suggested img {
    border-radius: 50%;
}

.stories {
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding-top: 20px;
    padding-left: 20px;
}

.stories h5 {
    color: grey;
}

.stories img {
    border-radius: 50%;
}

.post-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Comfortaa", sans-serif;
}

.menu {
    border: none;
    background-color: transparent;
}

.post img{
    width: 100%;
    
}


@media (max-width: 800px) {
    main {
        width: auto;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    aside {
        display: none;
    }
}