body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1000;
}

.card {
    border: solid 1px #ccc;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    align-items: center;
}

.card img {
    width: 100%;
}

.card p, .card span {
    color: #555;
}

@media screen and (max-width: 768px) {
    main {
        padding: 20px;
    grid-template-columns: 1fr;
    }
}

