/* Make sure that your @import statement is at the top of your CSS file  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/*got from fonts.google.com
select font
embed code
follow instructions
*/

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
}

h1, h2 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}