body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F4F4F4;
}




.top-nav {
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.post {
    min-height: 300px;    
    border: solid 1px black;
    margin-bottom: 50px;
}

.stories {
    min-height: 100px;
    border: solid 1px black;
    margin-bottom: 50px;
}

aside {
    position: fixed;
    top: 100px;
    left: 65vw;
    background-color: white;
    min-height: 80vh;
    width: calc(35vw - 30px);  /*spaces are needed*/
}

main {
    margin-top: 23px;
    width: calc(60vw - 30px); /*spaces are needed*/
    margin-left: 5vw;
}




@media (max-width: 800px) {
    main {
        width: auto;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    aside {
        display: none;
    }
}